<div class="mapbox-popup-div">
  <%= cl_image_tag place.photo.key, class: "map-image" %>
  <div class="mapbox-popup-div-info">
    <h2 name="name"><%= place.name %></h2>
    <p name="category"><%= sanitize find_icon(place.category) %></p>
  </div>
</div>