<div class="mapbox-popup-div">
  <%= cl_image_tag place.photo.key, class: "map-image" %>
  <div class="mapbox-popup-div-info">
    <h2 name="name"><%= place.name %></h2>
    <p name="category"><%= place.category %></p>
    <%# <div href="#place-modal" data-toggle="modal" data-place-id="<%#= place.id %>" data-photo-key="<%#= url_for(place.photo) %>" data-description="<%#=  place.description %>" data-place-name=" <%#= place.name %>" data-place-url="<%#= place.link_url %>" class="btn btn-warning profile-completed-button modal-trigger"><i class="fas fa-plus"></i></div> %>
  </div>
</div>
<div >