// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

$orange: #ef7557;
$dark-orange: #ce6348;
$navy: #123040;
$lighter-navy: #4f6380;
$light-blue: #c2e4ff;
$lighter-blue: #f4faff;
$light-blue-dark: #91cdff;
$light-blue-darker: #52b1ff;
$small-gray: #777;
$navy: #246181;
$navy: #123040;
$button-color: linear-gradient(to right, #123040 40%, #1b3f52 75%, #1d506b 100%);
$homepage-button-color: linear-gradient(to right, #c2e4ff 33%, #b1dafc  66%, #9acffa  100%);