// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

$orange: #ef7557;
$navy: #123040;
$lighter-navy: #283a53;
$light-blue: #c2e4ff;
$lighter-blue: #f4faff;
$light-blue-dark: #91cdff;
$light-blue-darker: #52b1ff;
$small-gray: #777;