// Import page-specific CSS files here.
@import "home";

html {
  font-size: 16px;
  scroll-behavior: smooth;
}

body {
  font-family: $body-font;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $headers-font;
}

@media (max-width: 900px) {
  html {
    font-size: 14px;
  }
}

@media (max-width: 700px) {
  html {
    font-size: 11px;
  }
}
