.large{
  width: 100%;
}
.centered-text{
  // position: relative;
  // top: 3em;
  display: flex;
  align-items: center;
  flex-direction: column;
  // margin: 15px;
  padding-top: 107px;
}

.show-page-container{
  margin-top: 100px;
  .category-buttons{
     justify-content: center;
  }
  .btn-ghost{
    margin: 3px;
    opacity: 0.9;
  }
}

.itinerary-show-page{
  .show-box{
    margin: 20px;
    margin-top: 40px;
    padding: 30px;
    display: flex;
    justify-content: space-between;
    width: 100vw;
    flex-direction: column;
    overflow-x: auto;
    overflow-y: hidden;
    &::-webkit-scrollbar-track {
      box-shadow: inset $favourite-box-shadow;
      -webkit-box-shadow: inset $favourite-box-shadow;
      border-radius: 10px;
      background-color: $lighter-blue;
    }

    &::-webkit-scrollbar {
        height: 8px;
        background-color: $lighter-blue
    }

    &::-webkit-scrollbar-thumb {
        border-radius: 10px;
        box-shadow: inset $favourite-box-shadow;
      -webkit-box-shadow: inset $favourite-box-shadow;
        background-color: $light-blue;
    }
  }

  .day-content{
    width: 100%;
    margin: 15px;
    min-height: 8em;
  }

  .show-icon {
    position: relative;
    top: 5px;
    right: 5px;
  }

  .place-card{
    margin: 16px;
    width: 250px;
    background-size: cover;
    background-position: center;
    cursor: move;
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;

    &:active {
      cursor: grabbing;
      cursor: -moz-grabbing;
      cursor: -webkit-grabbing;
    }

  }

 .column-top{
   padding: 10px;
   width: 270px;
  }

 .column-head {
   width: 100vw;
 }

 .vertical-text {
   writing-mode: vertical-lr;
 }

 .column-top {
    margin-left: 20px;
    width: 250px;
  }

  .day-btn{
    text-align: center;
    padding: 10px;
    margin: 16px;
    height: 150px;
    border-radius: 5px;
  }
}

.button-orange{
  position: relative;
  left: 20em;
  margin: 15px;
  width: 160px;
  border-radius: 15px;
  background-color: $orange;
  text-decoration: none;
}

.button-orange:hover {
  background-color: $dark-orange;
  text-decoration: none;
}

.buttons{
  position: relative;
  left: 64em;
}
