.large{
  width: 100%;
}
.centered-text{
  // position: relative;
  // top: 3em;
  display: flex;
  align-items: center;
  flex-direction: column;
  // margin: 15px;
  padding-top: 107px;
}

.show-page-container{
  margin-top: 100px;
  .category-buttons{
     justify-content: center;
  }
  .btn-ghost{
    margin: 3px;
    opacity: 0.9;
  }
}

.itinerary-show-page{
  .show-box{
    margin: 20px;
    margin-top: 40px;
    padding: 30px;
    display: flex;
    justify-content: space-between;
    overflow: scroll;
    width: 100vw;
    flex-direction: column;
  }
  .day-content{
    width: 100%;
    margin: 15px;
    min-height: 8em;
 }
 .place-card{
   padding: 0px;
   margin: 10px;
 }
 .column-top{
   padding: 10px;
   margin: 10px;
 }

 .vertical-text{
   writing-mode: vertical-lr;
 }

 .place-img{
   		img {
   		  width: 50%;
   		  height: 50%;
   		  border-radius: 5px 0px 0px 5px;
        object-fit: cover;
   		}
 }
 .column-top{
  padding: 10px;
  margin: 10px;
  position: absolute;
  bottom: 13em;
  width: 100%;
 #morning{
  left: 10em;
 }
 #lunch {
   left: 35em;
 }
  #afternoon {
    left: 55em;
  }
   #dinner {
     left: 79em;
   }
    #evening {
      left: 100em;
    }
  }
  .day-btn{
    text-align: center;
  }
   .day-card {
     width: 600px;
   }
}
.button-orange{
  position: relative;
  left: 20em;
  margin: 15px;
  width: 160px;
  border-radius: 15px;
  background-color: $orange;
  text-decoration: none;
}
  .button-orange:hover {
    background-color: $dark-orange;
    text-decoration: none;
  }

 .buttons{
    position: relative;
    left: 64em;
 }

// hr{
//       width: 20%;
//       /* height: 2em; */
//       border: solid 3px #52b1ff;
// }
