.large{
  width: 100%;
}
.centered-text{
  // position: relative;
  // top: 3em;
  display: flex;
  align-items: center;
  flex-direction: column;
  // margin: 15px;
  padding-top: 107px;
}

.show-page-container{
  margin-top: 100px;
  .category-buttons{
     justify-content: center;
  }
  .btn-ghost{
    margin: 3px;
    opacity: 0.9;
  }
}

.itinerary-show-page{
  .show-box{
    margin: 20px;
    margin-top: 40px;
    padding: 30px;
    display: flex;
    justify-content: space-between;
    width: 100vw;
    flex-direction: column;
    overflow: scroll;
  }

  .place-card:active {
    cursor: grabbing;
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;
  }

  .day-content{
    width: 100%;
    margin: 15px;
    min-height: 8em;
  }

  .place-card{
    padding: 0px;
    margin: 10px;
  }

 .column-top{
   padding: 10px;
   margin: 16px;
   width: 250px;
   background-size: cover;
   background-position: center;
   cursor: move;
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;
  }

   &.show-icon {
    position: absolute;
    top: 5px;
    right: 5px;
   }
 

 .column-head {
   width: 100vw;
   margin-left: 50px;
 }

 .vertical-text {
   writing-mode: vertical-lr;
 }

 .column-top {
    margin-left: 20px;
    width: 250px;
  }

  .day-btn{
    text-align: center;
    padding: 10px;
    margin: 16px;
    height: 150px;
    border-radius: 5px;
  }

   .day-card {
     width: 600px;
   }
}

.button-orange{
  position: relative;
  left: 20em;
  margin: 15px;
  width: 160px;
  border-radius: 15px;
  background-color: $orange;
  text-decoration: none;
}

.button-orange:hover {
  background-color: $dark-orange;
  text-decoration: none;
}

.buttons{
  position: relative;
  left: 64em;
}
