<nav class="navbar navbar-lewagon navbar-expand-lg navbar-light w-100">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="#">travellier</a>
    <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link navbar-lewagon-link" aria-current="page" href="#">Home</a>
        <a class="nav-link  navbar-lewagon-link " href="#">Plan a trip</a>
        <a class="nav-link  navbar-lewagon-link " href="#">Sign in</a>
      </div>
    </div>
  </div>
</nav>