<div class="d-flex align-items-center">
  <div class="p-3">
    <img src='<%= cl_image_path "https://res.cloudinary.com/df6gjhrs5/image/upload/v1614793101/2750635_gray-circle-login-user-icon-png-transparent-png_uqkm8d.jpg" %>' alt="pic" class="avatar-large">
  </div>
  <div class="p-3">
    <h1 class="py-2">Welcome, Damon</h1>
    <div class="d-flex align-items-center justify-content-between">
        <p class="text-danger">damon@gmail.com</p>
        <a class="btn btn-primary w-25">Edit</a>
    </div>
  </div>
</div>