<div class="d-flex flex-column align-items-center">
  <div class="p-1">
    <img src='<%= cl_image_path "https://res.cloudinary.com/df6gjhrs5/image/upload/v1615461323/legoman_kl3kvr.jpg" %>' alt="pic" class="avatar-large">
  </div>
  <div>
    <h1 class="py-2">Welcome, <%= current_user.first_name.capitalize %></h1>
  </div>
  <div>
    <p class="text-danger"><%= current_user.email %></p>
  </div>
  <%= link_to "Edit", edit_user_registration_path, class: "btn btn-primary profile-button w-25" %>
</div>