<div class="banner" style="background-image: linear-gradient(rgba(230, 254, 255, 0.2),rgba(230, 254, 255, 0.2)), url(https://images.unsplash.com/photo-1501696461415-6bd6660c6742?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=968&q=80);">
  <div class="container banner-container">
    <h1>Travellier</h1>
    <p>
      <span id="banner-typed-text"></span>
    </p>
    <div class = "home-button-container">
      <div class="home-button">
        <button class="button">
            <span class="default">Start Planning</span>
            <span class="success">Generating...</span>
            <div class="left"></div>
            <div class="right"></div>
        </button>
      </div>
      <%# <a class="btn btn-flat banner-button" href="#">Start Planning</a> %>
      <div class="dropdown-form dropdown-form-hidden">
        <%= render "partials/itinerary_form" %>
      </div>
    </div>
  </div>
</div>


<div class="container home-grid py-5">
  <div class="row align-items-center py-2 home-column-1">
    <div class="col-lg-6">
      <div class="home-img-div">
        <img src="https://images.unsplash.com/photo-1523289333742-be1143f6b766?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80" alt="pic" class="home-img">
      </div>
    </div>
    <div class="col-lg-6">
      <div class="home-number home-number-right">1</div>
      <div class="home-grid-info">
        <h2>CHOOSE YOUR DESTINATION</h2>
        <p>Search where would you like to go or get inspired by our featured destinations</p>
      </div>
    </div>
  </div>
  <div class="row align-items-center py-2 home-column-2">
    <div class="col-lg-6">
      <div class="home-number home-number-left">2</div>
      <div class="home-grid-info">
        <h2>PLAN YOUR TAILORED TRIP</h2>
        <p>Add or remove activities with ease to your daily calendar/planner and managing them according to your needs.</p>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="home-img-div">
        <img src="https://images.unsplash.com/photo-1437846972679-9e6e537be46e?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1051&q=80" alt="pic" class="home-img">
      </div>
    </div>
  </div>
  <div class="row align-items-center py-2 home-column-3">
    <div class="col-lg-6">
      <div class="home-img-div">
        <img src="https://images.unsplash.com/photo-1517760444937-f6397edcbbcd?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80" alt="pic" class="home-img">
      </div>
    </div>
    <div class="col-lg-6">
      <div class="home-number home-number-right">3</div>
      <div class="home-grid-info">
        <h2>DAILY PLANNER</h2>
        <p>Have at your fingertips your day by day itinerary to make sure you get the best hassle-free experience out of your trip. . All in one place!</p>
      </div>
    </div>
  </div>
  <div class="row align-items-center py-2 home-column-4">
    <div class="col-lg-6">
      <div class="home-number home-number-left">4</div>
      <div class="home-grid-info">
        <h2>BOOK IT</h2>
        <p>Place your bookings and start feeling the adrenaline of your next new adventure.</p>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="home-img-div">
        <img src="https://images.unsplash.com/photo-1517960413843-0aee8e2b3285?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1075&q=80" alt="pic" class="home-img">
      </div>
    </div>
  </div>
</div>