.banner {
  background-size: cover;
  background-position: center;
  padding: 200px 0;
}

.banner-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.banner h1 {
  margin: 0;
  color: $navy;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 6rem;
  font-weight: 300;
  letter-spacing: .2rem;
}

.banner p {
  font-size: 2.5rem;
  color: $navy;
  opacity: .85;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

.banner-button {
  letter-spacing: .1rem;
  font-weight: 300;
  padding: .9rem 4rem;
  font-size: 1.4rem;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
  background-color: $light-blue;
  color: $navy;
  border-radius: 2px;
}
.spacer {
  height: 150px;
}
.day-form {
  padding: 10px;
}