.btn-ghost {
    color: #4A4A4A;
    border: 1px solid #4A4A4A;
    padding: 8px 24px;
    border-radius: 50px;
    font-weight: lighter;
    opacity: 0.6;
    transition: opacity 0.3s ease;
  }
  
  .btn-ghost:hover {
    opacity: 1;
    background: rgb(108, 199, 211)
  }

  .btn-group {
    .btn-flat {
        color: white;
        padding: 8px 24px;
        border-radius: 4px;
        background: #98d7f0;
        transition: background 0.3s ease;
      }
      
      .btn-flat:hover {
        background: #cbab1b;
        color: white;
      }
  }


  