.small-navbar-tabs-categories a {
  text-decoration: none !important;
}

.btn-ghost {
  width: 140px;
  color: #4A4A4A;
  border: 1px solid #4A4A4A;
  padding: 5px 10px;
  border-radius: 50px;
  font-weight: lighter;
  opacity: 0.6;
  background-color: #F4FAFF;
  transition: opacity 0.8s;
}
  
.btn-ghost:hover {
  opacity: 1;
  background-color: #f4faffb2;
  color: $navy;
}

//   .btn-red {
//     background-color: rgb(107, 114, 123);
//     border-radius: 9999px;
//     color: rgb(255, 255, 255);
//     display: inline-block;
//     margin-left: 1rem;
//     padding: 5px;
    
//   }

.btn-sign-in {
  background-color: #123040;
  color: white;
  border-radius: 50%;
  margin-bottom: 20px;
  padding: 8px 16px;
}

.btn-sign-up {
  background-color: #123040;
  color: white;
  border-radius: 50%;
  margin-bottom: 20px;
  padding: 8px 16px;
}

.btn-sign-in {
  color: $orange;
}

.btn-sign-up:hover {
  color: $orange;
}


  .btn-icon {
      padding: 5px;
      border-radius: 50%;
      color: white;
      box-shadow: 3px 3px 4px rgba(0, 0, 0, .25), inset 3px 3px 4px rgba(0, 0, 0, .25);
      -moz-box-shadow: 3px 3px 4px rgba(0, 0, 0, .25), inset 3px 3px 4px rgba(0, 0, 0, .25);
      -webkit-box-shadow: 3px 3px 4px rgba(0, 0, 0, .25), inset 3px 3px 4px rgba(0, 0, 0, .25);

      &-green {
          background-color: #6BA368;
      }
      &-red {
        background-color: #CA807D;
    }
    &-blue {
        background-color: #2A3B7A;
        width: 28px;
    }
    &-yellow {
        background-color:#FFB86F;
    }
    &-purple {
        background-color: rgb(152, 62, 255);
    }
  }


//   .btn-group {
//     .btn-flat {
//         color: white;
//         padding: 8px 24px;
//         border-radius: 4px;
//         background: #98d7f0;
//         transition: background 0.3s ease;
//       }
      
//       .btn-flat:hover {
//         background: #cbab1b;
//         color: white;
//       }
// }


  