
.itin-title {
	margin-top: 100px;
	display: flex;
	flex-direction: column;
	align-items: center;
	h1 {
		font-size: 60px;
	}
	p {
		color: $orange;
	}
}

.places {
	height: 675px;
	overflow: auto;
		&::-webkit-scrollbar-track {
			box-shadow: inset $favourite-box-shadow;
			-webkit-box-shadow: inset $favourite-box-shadow;
			border-radius: 10px;
			background-color: $lighter-blue;
		}

		&::-webkit-scrollbar {
				width: 8px;
				background-color: $lighter-blue
		}

		&::-webkit-scrollbar-thumb {
				border-radius: 10px;
				box-shadow: inset $favourite-box-shadow;
			-webkit-box-shadow: inset $favourite-box-shadow;
				background-color: $light-blue;
		}
}

#arrow-left, #arrow-right{
	color: $orange;
	font-size: 30px;
}



.place-card {
	background-color: white;
	height: 150px;
	width: 90%;
	border-radius: 5px;
	margin: 8px auto;
	box-shadow: 1px 1px 3px rgba(0,0,0,0.1);
	transition: 0.4s;
	cursor: pointer;

	&:hover { 
	  transform: scale(1.04);
	  box-shadow: 2px 4px 6px rgba($orange, 0.25);
	}

	a {
		align-text: end;
	}

	h2 {
		font-size: 20px;
	}

	p {
		font-size: 15px;
		color: $orange;
	}

	&-description {
		opacity: .7;
		font-size: .9rem;
		color: $navy !important;
	}

	.place-img {
		width: 240px;
		height: 100%;

		img {
			width: 240px;
			height: 100%;
			border-top-left-radius: 5px;
			border-bottom-left-radius: 5px;
			object-fit: cover;
		}
	}
}

.days {
	width: 100%;
	margin: 0 auto;
}

.day-img {
	width: 30%;

	img {
		width: 100%;
		height: 100%;
		margin: 0;
		border-top-left-radius: 5px;
		border-bottom-left-radius: 5px;
		object-fit: cover;
	}
}

.itin-text {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding: 10px;
}

.edit-container {
	margin: 2rem 6rem;
}

.day-card {
	background-color: white;
	height: 100px;
	width: 90%;
	border-radius: 5px;
	margin: 8px auto;
	box-shadow: 1px 1px 3px rgba(0,0,0,0.1);
	transition: 0.4s;

	&:hover { 
	  transform: scale(1.04);
	  box-shadow: 2px 4px 6px rgba($orange, 0.25);
	}

	h2 {
		font-size: 20px;
	}

	h3 {
		font-size: 20px;
		margin: auto auto;
	}

	p {
		font-size: 15px;
		color: $orange;
	}
}

.profile-day-card {
  display: flex;
  flex-direction: column;
	align-items: flex-start;
	text-align: left;
  width: 300px;
  padding: .5rem;
  margin: 10px auto;
  background-color: white;
  color: $navy;
	height: 110px;
  
  h2 {
    font-weight: 400;
    font-family: $body-font;
    font-size: 1.25rem;
  }

  p {
    color: $orange;
    opacity: 0.7;
    font-size: 1rem;
  }

  &:hover {
    box-shadow: 2px 4px 6px rgba($orange, 0.25);
  }
}

li {
		list-style: none;
}
