.page-container {
    display: grid;
    min-height: 100vh;
    grid-template-rows: auto 1fr auto;
  }

  .footer {
    background-color: $navy;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 4rem;
    padding: 0px 50px;
    color: $lighter-blue;
  }
  .footer-links {
    display: flex;
    align-items: center;
  }
  .footer-links a {
    color: $light-blue;
    opacity: 0.15;
    text-decoration: none;
    font-size: 24px;
    padding: 0px 10px;
  }
  .footer-links a:hover {
    opacity: 1;
  }