.form-container{
  height: 798px;
}

.new_itinerary {
  background: $lighter-blue;
  padding: 10px 20px;
  margin-top: 3rem;
  border-radius: 10px;
  width: 25rem;

  input {
    border-radius: 10px;
    background: $lighter-blue;
    font-size: 1.2rem;
  }

  input[type="submit"] {
    background-color: $navy;
    border-radius: 50px;
    color: white;
    transition: background-color 0.8s;
  }
  
  input[type="submit"]:hover {
    background-color: $lighter-blue;
    border-radius: 50px;
    color: $navy;
  }

  input:active, input:focus {
    background-color: $lighter-blue;
  }

  .form-control:focus {
    box-shadow: 0 0 0 0.2rem #b2c2cf6e;
  }

  
  .btn {
    width: 100%;
    margin-bottom: 20px;
    border-radius: 50px;
  }
}

.form-title-h2 {
  font-size: 1.25rem;
  font-weight: bold;
  text-align: center;
  font-family: $headers-font;
}

#itinerary_city {
  border-radius: 10px;
  background: $lighter-blue;
  font-size: 1.2rem;
  color: #495057c7;
}

