.mapboxgl-popup-content {
  padding: 0 !important;
}

.mapboxgl-popup-tip {
  border: none !important;
}

.mapboxgl-popup {
  max-width: 400px !important;
  max-height: 200px;
  overflow: hidden;
  box-shadow: $favourite-box-shadow;
  border-radius: 10px;
  
  .mapbox-popup-div {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }

  .mapbox-popup-div-info {
    padding: 1rem;

    h2 {
      font-size: 1rem;
    }
  }

  .map-image {
    height: 100%;
    max-width: 200px;
    object-fit: cover;
  }
}
