.navbar-lewagon {
  font-size: 1.4rem;
  position: fixed;
  transition: background-color 1s;
}

.navbar-brand {
  font-weight: 500;
  font-family: $headers-font;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $navy;
}

.navbar-navy {
  background-color: $navy;
  color: $lighter-blue;
  z-index: 10;
  
  .navbar-lewagon-link {
    color: $lighter-blue !important;
  }

  .navbar-brand {
    color: $lighter-blue;
  }
}

.navbar-lewagon-link {
  color: $navy !important;
  width: 8.5rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-weight: 300;
  font-family: $headers-font;
  font-size: 1.5rem;
}
