.profile {
  margin: 12% 5% 10% 5%;
  color: $navy;
}

.profile-container {
  h1 {
    font-weight: 300;
  }

  &-no-entries {
    p {
      color: $orange;
      font-weight: 400;
    }
  }

  &-cards {
    a:hover {
      text-decoration: none;
    }
  }
}

.profile-button {
  border-radius: 50px;
  box-shadow: $favourite-box-shadow;
  background: $button-color !important;
  color: rgb(227, 227, 227);
  transition: color 0.3s;
}

.profile-button:hover, .profile-completed-button:hover {
  color: $orange;
}

.profile-completed-button {
  border-radius: 50px;
  font-size: .8rem;
  padding: 2px 6px;
  box-shadow: $favourite-box-shadow;
  background: $button-color !important;
  color: rgb(227, 227, 227);
  transition: color 0.3s;
}
