.profile {
  margin: 7.5% 5%;
  color: $navy;
}

.profile-container {
  height: 600px;
  overflow-y: auto;
  overflow-x: hidden;
    &::-webkit-scrollbar-track {
      box-shadow: inset $favourite-box-shadow;
      -webkit-box-shadow: inset $favourite-box-shadow;
      border-radius: 10px;
      background-color: $lighter-blue;
    }

    &::-webkit-scrollbar {
        width: 8px;
        background-color: $lighter-blue
    }

    &::-webkit-scrollbar-thumb {
        border-radius: 10px;
        box-shadow: inset $favourite-box-shadow;
      -webkit-box-shadow: inset $favourite-box-shadow;
        background-color: $light-blue;
    }

  h1 {
    font-weight: 300;
  }

  &-no-entries {
    p {
      color: $orange;
      font-weight: 400;
    }
  }

  &-cards {
    a:hover {
      text-decoration: none;
    }
  }
}

.profile-button {
  border-radius: 50px;
}

.profile-completed-button {
  border-radius: 50px;
  font-size: .8rem;
  padding: 2px 6px;
}
